@charset "UTF-8";
/*
	@name search_result
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px; width: 1920px; height: 1080px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__search_result {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,253.41,235.88,1);
}


#image_3 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5 {
	opacity:0.4;
	top: 270px;
	left: 72px;
	width: 1298px;
	height: 748px;
	background-color:rgba(255,255,255,0.7);
}

#group_10 {
	top: 598px;
	left: 119px;
	width: 857px;
	height: 107px;
}

#_____3 {
	top: 0px;
	left: 0px;
	width: 214px;
	height: 71px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#125DEF;
}


#_____________________________________________________________________________________ {
	top: 46px;
	left: 0px;
	width: 882px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#group_12 {
	top: 883px;
	left: 119px;
	width: 857px;
	height: 107px;
}

#_____5 {
	top: 0px;
	left: 0px;
	width: 214px;
	height: 71px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#125DEF;
}


#______________________________________________________________________________________ek1 {
	top: 46px;
	left: 0px;
	width: 882px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#group_11 {
	top: 739px;
	left: 119px;
	width: 857px;
	height: 107px;
}

#_____4 {
	top: 0px;
	left: 0px;
	width: 214px;
	height: 71px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#125DEF;
}


#______________________________________________________________________________________ek2 {
	top: 46px;
	left: 0px;
	width: 882px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#group_9 {
	top: 455px;
	left: 119px;
	width: 844px;
	height: 99px;
}

#_____2 {
	top: 0px;
	left: 0px;
	width: 214px;
	height: 71px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#125DEF;
}


#______________________________________________________________________________________ek3 {
	top: 46px;
	left: 0px;
	width: 869px;
	height: 67px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#group_8 {
	top: 313px;
	left: 119px;
	width: 857px;
	height: 107px;
}

#______________________________________________________________________________________ek4 {
	top: 46px;
	left: 0px;
	width: 882px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#_____1 {
	top: 0px;
	left: 0px;
	width: 214px;
	height: 71px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#125DEF;
}

#group_13 {
	top: 71px;
	left: 440px;
	width: 893px;
	height: 100px;
}
#group_8_ek1 {
	top: 0px;
	left: 0px;
	width: 893px;
	height: 100px;
}

#rectangle_2 {
	top: 0px;
	left: 0px;
	width: 893px;
	height: 100px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background:rgba(242,239,206,1);
	background-color: rgba(255, 255, 255, 0.5);
	text-indent: 25px;
}

#image_1 {
	top: 16px;
	left: 801px;
	width: 66px;
	height: 69px;
}


#soul_s_lab {
	top: 67px;
	left: 62px;
	width: 325px;
	height: 111px;
	overflow: hidden;
	font-family: Euphoria Script;
	font-size: 96px;
	text-align: left;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#FFFFFF;
}



/* Add your custom CSS here */
 button 
 {
    all: unset;
    cursor: pointer;   
 }

 input
 {
 	border:none;
 	color: #000000;
 }

 input:focus
 {
	outline:none;
 }

 a
 {
 	color: inherit;
 }
