<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>main_page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="css/main_page.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->
		
		
	</head>
	<body>

		<div id="content-container" >
			<div id="_bg__main_page"  ></div>
			<img src="images/pexels_pixabay_462024_1.png" id="pexels_pixabay_462024_1" />

			<div id="group_7"  >
				<div id="rectangle_2"  ></div>

			</div>

			<div id="group_13"  >

				
	<form method="post" action = "search_result" th:object="${userKeyword} ">
	<div id="group_8">
		
		<input type="text" name="input" id="rectangle_2_ek1" onsubmit="clickSearch()" style="font-size: 30pt ;font-family: monospace" th:field="*{keyword}"> 
		<!-- <input type="image" id="image_1" src="images/image_1.png" alt="Submit"> -->
		<a href="#" onclick="clickSearch2()" id="searchButton2">
					<img src="images/image_1.png" id="image_1" />
				</a>
	</div>
	</form>
	
			</div>
			<div id="rectangle_4"  ></div>
			<div id="soul_s_lab" >
				Soul's Lab
			</div>

		</div>
		
		
		
	</body>
</html>